@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne/static/Syne-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Syne', sans-serif;
}


body::-webkit-scrollbar {
  width: 0.5px;
}

/* Handle for WebKit browsers */
body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Initially transparent */
}

/* Show scrollbar on hover for WebKit browsers */
body:hover::-webkit-scrollbar-thumb {
  background-color: transparent; /* Adjust the color as needed */
}
